# Copyright (c) 2023 [Eiztrips]
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# --- TODO: REMOVE NEXT LIBRARIES ---
vk_api>=11.9.9
aiogram>=3.0.0
# -----------------------------------
pydantic>=2.0.0
pydantic-settings>=2.0.0
requests>=2.28.2
loguru
