# Dashboard port (both host mapping and container binding)
PORT=8080

# Basic Auth Credentials for Dashboard
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Base API Path for Dashboard Endpoints
API_BASE=/api

# Internal Docker Settings (Don't change without necessity)
IMAGE_NAME=minin-bot-client:latest
NETWORK_NAME=minin-bot-network