name: Go Tests

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - 'dashboard/**'
      - '.github/workflows/tests.yml'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - 'dashboard/**'
      - '.github/workflows/tests.yml'

jobs:
  test:
    name: Run Go Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dashboard

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
